.container{
    width : 1000px;
    height  : 640px;
    background-color: gainsboro;
}
.container1{
    background-color: rgb(216, 171, 139);
    height: 40px;
}
.container2{
    background-color: rgb(216, 171, 139);
    height: 300px;
    width : 150px;
}
 #navbar1{
    display: flex;
    justify-content: flex-start;
    gap: 140px;
    font-size: 25px;
    text-align: center;
    padding: 5px 10px;
}
#navbar2{
    display: flex;              
    flex-direction: column;    
    align-items: center;         
    gap: 30px;           
    margin-top: 5px; 
    font-size: 25px; 
}
.box {
    width: 330px;
    height: 100px;
    overflow: hidden;
    border: 5px solid black;
    text-align: center;
  }
  .container3 {
    display: flex;
    margin-top: 120px;
  }
  #navbar3 {
    display: flex;             /* Use Flexbox layout */
    justify-content: center;   /* Centers horizontally */
    align-items: center;       /* Centers vertically */
    gap: 20px;                 /* Adds space between the nav items */
    height: 50px;             /* Set a height for vertical centering */
    background-color: rgb(216, 171, 139);
  }
  #nav { 
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(3, 19, 244);
  }